*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#header{
  height: 50vh;
  background-image: url(Images/me.jpg);
  background-position: left;
  background-size: left;
}
.container{
  margin-right: 100px;
  margin-left: 100px;
}
.profileme{
  margin-top: 30px;
  width: 100px;
}
.header-text{
  max-width: 350px;
  margin-top: 140px;
}
h1{
  font-size: 34px;
}
.square{
  height:12px;
  width: 12px;
  display: inline-block;
  background: #f67c92;
  margin: 15px 0;
}
.btn{
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid #f67c92;
  font-weight: bold;
}
p{
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.header-text button{
  margin-top: 20px;
  margin-bottom: 60px;
}
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  background: #f67c92;
  z-index: 2;
  transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
  nav ul li{
    text-decoration: none;
    color: #fff;
}
#closebtn{
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2px;
  cursor: pointer;
}


    /*----interest----*/

#interest, #ProjectID{
  padding: 100px 0;
  display; flex;
  align-items: center;
  flex-wrap: wrap;
}
.interest-left-col{
  flex-basis: 50%
}
.interest-left-col img{
  width: 100%;
}
.interest-right-col{
  flex-basis: 50%;
  text-align: right; 
}
.interest-text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

/*----Personal Profile---*/

#PersonalPro{
  padding: 50px;
  padding-bottom: 50px;
}
.PersonalPro-row{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}  
.PersonalPro-col{
  flex-basis: 25%;
  text-align: center;
}
.PersonalPro-col img{
  width: 200px
}
.PersonalPro h4{
  margin-bottom: 15px;
  font-size: 250px;
  font-weight: 400px;
}

/*---Ideal Job---*/

#Idealjob{
  padding: 100px 0;
}
.Idealjob-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Idealjob-right-col{
  flex-basis: 50%;
}
.Idealjob-right-col img{
  width: 100%;
}
.Idealjob-left-col{
  flex-basis: 50%;
}
